{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>

        <title>Museos</title>
        
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>App Museos</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/templates/static/1.css"/>
<link rel="icon" href="/templates/static/icono.png" type="image/png"/>
<style>
      html{background-color: {{colorcss | safe}}}
      html{color:#000000}
	  a{color:#07f2e4}
	  html{font-size:{{tamano |safe}}}
      
    </style>
</head>
<body>

<div id="upbg"></div>

<div id="outer">


	<div id="header">
		<div id="headercontent">
			<h1>¡¡APP MUSEOS!!<sup>1.0</sup></h1>
			<h2>aplicacion Django para museos de Madrid</h2>
			
		</div>

	</div>


	<div id="banner">
		<img src="/templates/static/banner.png" width="100%" height="100"/></div>
	<div class="header">
		<div id = "headerlog">
			      
					{% csrf_token %}
					{% if log = True %}
						<h4>Bienvenido {{usuario|safe}}</h4> 
								{{logeado | safe}}
						<form action="/logout">
						<input type="submit" value="Salir">
	</form> 

					{% else %}
					
										{{logeado | safe}}
							    {{login|safe}}
					{% endif %}
			    </div>

	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/museos">Todos</a></li>
			<li><a href="/register">Registrarse</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/xml"><li>XML</li></a>
			
	</div>
	
	
	
	
	<div id="content">
	<div id= "content-left">

		<div id="acces">
			<p><strong>
						{% block acces %}
						<ul>
							{{accesibles|safe}}
						</ul>
						{% endblock %}
			</strong></p>	

		<p><strong>
						{% block cargar %}
							{{cargar|safe}}
						
						{% endblock %}
			</strong></p>	
</div>	
	</div>
	<div id="content-right">
			       
			    </div>
</div>

	{% csrf_token %}
		<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
		

	{% block content %}
		<div class="divider1"></div>
		
		<!-- Primary content: Stuff that goes in the primary content column (by default, the left column) -->
		<div id="primarycontainer">
			<div id="primarycontent">
				<!-- Primary content area start -->
		
				<div class="post">
					<div class="contentarea">	
					
					<ul><h3><strong>{{ content | safe}}</strong></h3>	
					</div>
				</div>
		
				
				
				

				<!-- Primary content area end -->
			</div>
		</div>

		{% endblock %}
		<!-- Secondary content: Stuff that goes in the secondary content column (by default, the narrower right column) -->
		<div id="secondarycontent">
			<!-- Secondary content area start -->
			
			<!-- HINT: Set any div's class to "box" to encapsulate it in (you guessed it) a box -->
			<div class="box">
				<div class="contentarea">
				<ul><h2>{{ users | safe}}</h2>
				</div>
			</div>
		
			<div>
				<div class ="contentarea">
				<img src="http://aprende.liceus.com/wp-content/uploads/2017/01/26818-944-550-1.jpg" class="header"  width="100%" height="100"/>
			</div>
			</div>

			<!-- Secondary content area end -->
		</div>


	</div>

	<div id="footer">
			
				<p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid. <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default"> Enlace</a>.Descripcion del <a href="https://datos.madrid.es/egob/catalogo/201132-0-museos.xml">fichero XML</a></p>
</div>
		
	


</body>
</html>
